*.egg
*.egg-info/
*.log
*.mo
*.pot
*.py[cod]
*.pyc
*.so
.
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Python
.Spotlight-V100
.Trashes
._*
.cache
.coverage
.idea/
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.ropeproject
.tox/
.venv/
Icon
Network Trash Folder
Temporary Items
__pycache__/
bin/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
eggs/
env/
htmlcov/
lib/
lib64/
nosetests.xml
package.yml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
var/
